body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Normalize */

button,
input,
a,
li {
    border: none;
    outline: none;
    text-decoration: none;
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: 700;
}

ion-icon {
    width: inherit;
    height: inherit;
    text-align: center;
}

/* Flex Utilities - Aqui estão as classes utilitárias para flexbox. */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.y-center {
    display: flex;
    align-items: center;
}

.x-center {
    display: flex;
    justify-content: center;
}

.x-between {
    display: flex;
    justify-content: space-between;
}

.inflexible {
    flex-shrink: 0;
    flex-grow: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #FFFFFF;
}

.hidden {
    display: none;
}

/* Os estilos adicionais estão dispostos abaixo, em ordem de estruturação do HTML. */

.container {
    min-width: 375px;
    height: 100%;
}

.login {
    flex-direction: column;
}

.login h1 {
    margin: 72px 0 92px;
}

.login input[type='text'] {
    color: #000000;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

    height: 54px;
    width: 261px;
    border-radius: 4px;

    margin-bottom: 15px;

    border: 1px solid #D7D7D7;
    background-color: #FFFFFF;
}

.login input[type='text']::placeholder {
    color: #AEAEAE;
}

.login input[type='submit'] {
    color: #696969;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

    height: 45px;
    width: 109px;
    border-radius: 9px;
    background-color: #E7E7E7;
}

.active-participants {
    background-color: transparent;
}

.active-participants .overlay {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #000000;
}

.active-participants aside {
    width: 259px;
    background-color: #FFFFFF;
}

.active-participants ul:first-of-type ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 7px;
}

.active-participants ul:last-of-type ion-icon {
    height: 22px;
    width: 22px;
    margin-right: 7px;
}

.active-participants .check {
    color: #28BB25;
    height: 22px;
    width: 22px;
    background-color: inherit;
    margin-left: auto;
    margin-right: 14px;

}

.active-participants h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.active-participants h2:first-of-type {
    height: 84px;
    width: 259px;
}

.active-participants h2:last-of-type {
    height: 66px;
    width: 259px;
}

.active-participants ul {
    flex-direction: column;
}

.active-participants li {
    height: 36px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    line-height: 36px;
    background-color: skyblue;

    padding-left: 17px;
    margin-bottom: 1px;

}

.content {
    height: 100%;
}

header {
    height: 80px;
    width: 100%;
    /* width: 375px; */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    height: 53px;
    width: 75px;
}

header button {
    height: 45px;
    width: 45px;
}

main {
    background-color: #F3F3F3;
    background-color: skyblue;
    height: calc(100% - 160px);
}

main .chat {
    overflow-y: scroll;
    height: inherit;
    flex-wrap: wrap-reverse;
}

main .chat li {
    min-width: 375px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

main .chat li span:first-of-type {
    color: #AAAAAA;
}

main .chat .message {
    background: #FFFFFF;
    border-radius: 2px;
}

main .chat .private_message {
    background: #FFDEDE;
    border-radius: 2px;
}

main .chat .status {
    background: #DCDCDC;
    border-radius: 2px;
}

footer {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    bottom: 0px;

    height: 80px;
    width: 100%;
    /* width: 375px; */

    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    height: 30px;
    width: 100%;

    margin-left: 17px;
    margin-right: 14px;

    border: none;
    outline: none;

    background-color: skyblue;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

footer input::placeholder {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

footer button {
    width: 26px;
    height: 26px;

    margin-right: 18px;
}